<template id="home">
  <div class="home">
    <h1>{{ title }}</h1>
    <AddItemComponent @newItem="addItem"/>
    <ItemsComponent :items="items"/>
    <ChangeTitleComponent :pageTitle="title" @changeTitle="updateTitle"/>
  </div>
</template>

<script>
// @ is an alias to /src
import AddItemComponent from "@/components/AddItemComponent.vue";
import ItemsComponent from "@/components/ItemsComponent.vue";
import ChangeTitleComponent from "@/components/ChangeTitleComponent.vue";

export default {
  name: "home",
  data() {
    return {
      items: [{ text: 'taco', checked: false},
      { text: 'shell', checked: false},
      ],
      title: "Xu List"
    };
  },
  components: {
    AddItemComponent,
    ItemsComponent,
    ChangeTitleComponent
  },
  methods: {
    addItem(newItem) {
      this.items.push({text: newItem, checked: false});
    },
    updateTitle(input) {
      this.title = input.trim();
    },
  }
};
</script>
<style scoped>
.home {
  background-color: green;
}
</style>
