<template id="add-item-template">
      <div class="input-group">
          <input @keyup.enter="addItem"
          v-model="newItem"
          placeholder="Add a new item"
          type="text"
          class="form-control">
          <span class="input-group-btn">
              <button @click="addItem"
              class="btn btn-default"
              type="button">Save to List</button>
          </span>
      </div>
</template>

<script>
export default {
  name: "AddItemComponent",
  data() {
      return {
          newItem: "",
      }
  },
  methods: {
      addItem(evt) {
          this.$emit('newItem', this.newItem);
          this.clearField(this.newItem, this.newItem.length);
      },
      clearField(field,len) {
              this.newItem = field.slice(1, field.length);
              if (field.length > 0) {
              setTimeout(() => this.clearField(this.newItem,len),500/len);
            }
        },
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
