<template id="change-title-template">
    <div>
        <em>Change title here: </em>
        <input v-model="title"
        v-on:input="updateTitle"
        type="text">
    </div>
</template>

<script>
export default {
  name: "ChangeTitleComponent",
  props: ['pageTitle'],
  data() {
      return {
          title: this.pageTitle
      }
  },
  methods: {
      updateTitle(evt) {
          this.$emit('changeTitle', this.title)
      },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
