<template id="items-template">
<ul>
    <item-component v-for="item in items" :item="item" :key="item.text"></item-component>
</ul>
</template>

<script>
import ItemComponent from "@/components/ItemComponent.vue";
export default {
  name: "ItemsComponent",
  components: {
    ItemComponent,
  },
  props: ['items']
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
background-color: #CCC;
}
</style>
