<template id="item-template">
      <li :class="{ 'removed' : item.checked }">
          <div class="checkbox">
              <label for="checkbox">
                  <input type="checkbox" v-model="item.checked"> {{ item.text }}
              </label>
          </div>
      </li>
</template>

<script>
export default {
  name: "ItemComponent",
  props: ['item'],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.removed {
    text-decoration: red wavy line-through;
}
ul li {
    list-style: none;
}
</style>
